In [1]:

import pandas as pd
import re
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
nltk.download('stopwords')

from nltk import word_tokenize
from collections import Counter
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import numpy as np
from nltk.corpus import stopwords

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\raamk\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\raamk\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\raamk\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
#Checking for a single review
pd.set_option('display.max_columns', 500)

df = pd.read_excel("E:/Ramada Plaza by Wyndham Waikiki.xlsx")

In [3]:
tex = df["Customer_Review"]

tex=tex.dropna(axis=0)
tex.head(10)

0    Lovely hotel very clean all staff professional...
1    We had a wonderful welcome from the reception ...
2    We only stayed here for one night.  The room w...
3    The AC was just bad. Entire room was humid and...
4    Rudimentary services and dirty rooms for high ...
5    The Ramada is located about a 15 minute walk f...
6    Nice facility.  However, only one elevator was...
7    Okay hotel, price is okay, location is excelle...
8    Great customer service . Smiley people. Tons o...
9    Hotel is in a great location for walking to sh...
Name: Customer_Review, dtype: object

In [4]:
Adj_List = []
Noun_List = []
sennum = -1
analyser = SentimentIntensityAnalyzer()
w = pd.DataFrame(columns=['Noun1','Noun2','Noun3','Adj1','Adj2','Adj3','Adj4','Adj5'])
for review in tex:
    review = review.lower()
    token = word_tokenize(review)
    PoS = nltk.pos_tag(token)
    w_new = pd.DataFrame(columns=['Noun1','Noun2','Noun3','Adj1','Adj2','Adj3','Adj4','Adj5'])
    w_reset = pd.DataFrame(columns=['Noun1','Noun2','Noun3','Adj1','Adj2','Adj3','Adj4','Adj5'])
    adjN = 0
    nN = 0
    sent = nltk.sent_tokenize(review)
    for sen in sent:
        sennum = sennum + 1
        words = word_tokenize(sen)
        PoS = nltk.pos_tag(words)
        
        for word in PoS:
            if word[1] == ".":
                w = pd.concat([w,w_new],axis = 0)
                w_new = w_reset.copy()
                adjN = 0
                nN = 0
            if word[1] == "JJ":
                adjN = adjN + 1
                columnname = "Adj{}".format(adjN)
                w_new.loc[sennum,columnname] = word[0]
            
            if (word[1] == "NN" or word[1] == "NNS"):
                nN = nN + 1
                columnname = "Noun{}".format(nN)
                w_new.loc[sennum,columnname] = word[0]
                w_new.loc[sennum,'Compound'] = analyser.polarity_scores(sen).get('compound')
            
w.head(10)

,Noun1,Noun2,Noun3,Adj1,Adj2,Adj3,Adj4,Adj5,Compound,Noun4,Noun5,Noun6,Noun7,Noun8,Noun9,Adj6,Noun10,Noun11,Noun12,Adj7,Noun13,Noun14,Adj8,Adj9,Noun15,Adj10,Noun16,Noun17,Noun18,Noun19,Noun20,Noun21,Noun22,Adj11,Noun23,Noun24,Adj12
0,hotel,staff,helpful,clean,professional,NaN,NaN,NaN,0.9152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,upgrade,effect,trip,NaN,NaN,NaN,NaN,NaN,0.0000,whatsoever,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,location,hustle,bustle,great,NaN,NaN,NaN,NaN,-0.0644,waikiki,bus,right,property,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,welcome,reception,staff,wonderful,NaN,NaN,NaN,NaN,0.7717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,everyone,NaN,NaN,professional,friendly,NaN,NaN,NaN,0.5367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,room,NaN,NaN,clean,comfortable,NaN,NaN,NaN,0.7620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,showers,NaN,NaN,negative,NaN,NaN,NaN,NaN,-0.5719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,night,room,shower,extra,bad,NaN,NaN,NaN,-0.5423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,room,NaN,NaN,okay,NaN,NaN,NaN,NaN,0.2263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list1=list(w.columns)
Noun_list=[i for i in list1 if "Noun" in i] 
length_Noun=len(Noun_list)
w_list=[]

for i in range(length_Noun):
    other_cols=[j for j in list1 if j not in Noun_list]
    w_list.append(w.loc[:,other_cols])
    w_list[i]["Noun"]=w["Noun"+str(i+1)]

In [6]:


w1=w_list[0]
for a in w_list[1:]:
       w1 = pd.concat([w1,a],axis = 0) 
w1

,Adj1,Adj2,Adj3,Adj4,Adj5,Compound,Adj6,Adj7,Adj8,Adj9,Adj10,Adj11,Adj12,Noun
0,clean,professional,NaN,NaN,NaN,0.9152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hotel
1,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,upgrade
2,great,NaN,NaN,NaN,NaN,-0.0644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,location
4,wonderful,NaN,NaN,NaN,NaN,0.7717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,welcome
5,professional,friendly,NaN,NaN,NaN,0.5367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2542,ridiculous,ridiculous,NaN,NaN,NaN,-0.7351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2543,late,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2544,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2545,good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
wfin = w1.dropna(axis=0, subset=['Noun'])

wfin

,Adj1,Adj2,Adj3,Adj4,Adj5,Compound,Adj6,Adj7,Adj8,Adj9,Adj10,Adj11,Adj12,Noun
0,clean,professional,NaN,NaN,NaN,0.9152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hotel
1,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,upgrade
2,great,NaN,NaN,NaN,NaN,-0.0644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,location
4,wonderful,NaN,NaN,NaN,NaN,0.7717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,welcome
5,professional,friendly,NaN,NaN,NaN,0.5367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,january,pleased,hotel.the,hawaiian,right,0.9678,nice,due,big,.the,excellent,friendly.the,clean,waikiki
1053,ramada,great,right,everywhere👍my,clean,0.9783,outside,microwave,u,nice,many,aug,much,thanks
1345,january,pleased,hotel.the,hawaiian,right,0.9678,nice,due,big,.the,excellent,friendly.the,clean,room
1053,ramada,great,right,everywhere👍my,clean,0.9783,outside,microwave,u,nice,many,aug,much,wow
1053,ramada,great,right,everywhere👍my,clean,0.9783,outside,microwave,u,nice,many,aug,much,i

In [8]:
list1=list(wfin.columns)
Adj_list=[i for i in list1 if "Adj" in i] 
length_Adj=len(Adj_list)
w_list=[]

for i in range(length_Adj):
    other_cols=[j for j in list1 if j not in Adj_list]
    w_list.append(wfin.loc[:,other_cols])
    w_list[i]["Adj"]=wfin["Adj"+str(i+1)]

In [9]:

w1=w_list[0]
for a in w_list[1:]:
       w1 = pd.concat([w1,a],axis = 0) 

w1

      Compound      Noun           Adj
0       0.9152     hotel         clean
1       0.0000   upgrade           NaN
2      -0.0644  location         great
4       0.7717   welcome     wonderful
5       0.5367  everyone  professional
...        ...       ...           ...
1345    0.9678   waikiki         clean
1053    0.9783    thanks          much
1345    0.9678      room         clean
1053    0.9783       wow          much
1053    0.9783         i          much

[96444 rows x 3 columns]

In [10]:
wfin1 = w1.dropna(axis=0, subset=['Adj'])

#wfin1
bool_list=[]
for i in wfin1['Noun'].values:
    bool_list.append(i not in stopwords.words('english'))
wfin1=wfin1[bool_list]
bool_list=[]
for i in wfin1['Adj'].values:
    bool_list.append(i not in stopwords.words('english'))
wfin1=wfin1[bool_list]
wfin1.head(10)

    Compound      Noun           Adj
0     0.9152     hotel         clean
2    -0.0644  location         great
4     0.7717   welcome     wonderful
5     0.5367  everyone  professional
6     0.7620      room         clean
7    -0.5719   showers      negative
8    -0.5423     night         extra
10    0.2263      room          okay
11    0.0000      room         small
13    0.7620     staff      friendly

In [11]:
AdjNoun = wfin1.reset_index()

AdjNoun.head(10)

   index  Compound      Noun           Adj
0      0    0.9152     hotel         clean
1      2   -0.0644  location         great
2      4    0.7717   welcome     wonderful
3      5    0.5367  everyone  professional
4      6    0.7620      room         clean
5      7   -0.5719   showers      negative
6      8   -0.5423     night         extra
7     10    0.2263      room          okay
8     11    0.0000      room         small
9     13    0.7620     staff      friendly

In [12]:
freqNouns = wfin1.groupby(['Noun']).count().sort_values(['Adj'], ascending=False).head(60)

freqNouns.head(10)

          Compound  Adj
Noun
hotel          683  683
room           635  635
staff          522  522
location       327  327
rooms          285  285
beach          226  226
waikiki        181  181
price          147  147
stay           128  128
walk           128  128

In [13]:
index = []
for i in freqNouns.iterrows():
    index.append(i[0])
print(index)

['hotel', 'room', 'staff', 'location', 'rooms', 'beach', 'waikiki', 'price', 'stay', 'walk', 'ramada', 'service', 'night', 'pool', 'desk', 'restaurants', 'day', 'time', 'hilton', 'hotels', 'place', 'coffee', 'bed', 'street', 'front', 'value', 'parking', 'village', 'everything', 'shopping', 'bit', 'lobby', 'check', 'area', 'beds', 'moana', 'distance', 'breakfast', 'food', 'water', 'size', 'resort', 'fridge', 'amenities', 'road', 'bus', 'air', 'stores', 'center', 'way', 'floor', 'restaurant', 'plaza', 'morning', 'luggage', 'lot', 'door', 'money', 'minutes', 'nights']

In [15]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 17000)
Compound = wfin1.groupby(['Noun']).mean().sort_values(['Compound'], ascending=False)
Compound = Compound.reset_index()
Final_df=Compound.loc[Compound['Noun'].isin(index)]
Final_df.head(10)

          Noun  Compound
133    service  0.740819
141      value  0.730265
177  amenities  0.690990
194      staff  0.670309
216     fridge  0.646313
229     resort  0.627874
252    luggage  0.624723
253   location  0.622248
257        bed  0.616386
317      rooms  0.565531